<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>	
		<title>Map the GLAM | GLAMs in the world</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=4.0, user-scalable=yes" />
		<meta name="robots" content="noindex,nofollow" />
		<meta name="googlebot" content="noindex">
		 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
		<link rel="stylesheet" href="../../assets/style/main.css" />
	</head>
	<body>
		<!-- <header id="header"></header> -->
		
		<div class="main_dataviz" id="map" style="width: 100%; height: 700px;">
			<!-- <img src="../../assets/img/map-of-glams.png" alt="Map of the GLAMs in the world" width="1690" height="1120" style="margin:0 auto; height: 100%; display:block; width: auto; "> -->
		</div>
		
		<section class="container">
			<h2>GLAMs in the world</h2>
			<!-- <p class="description" style="margin-bottom:36px;">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium neque tellus, et sodales tellus euismod non. Duis condimentum eros eget sem vulputate ullamcorper. Nullam vulputate magna et odio tempus, ac feugiat enim cursus. Donec at diam pulvinar tortor porta blandit. Integer eget lacinia nunc, nec porta nibh. Sed posuere congue porta. Aliquam erat volutpat. Duis sagittis tristique orci, condimentum fringilla nunc. Donec porttitor porttitor metus, ut ultrices nibh porttitor eu. Praesent ante orci, laoreet eget justo eget, sodales lacinia leo.
			</p> -->
		</section>

		<!-- <footer class="footer full_container" id="footer"></footer> -->

		<style>
			svg {
				position: absolute;
				top: 0;
				left: 0;
			}	
		</style>
		
		<script type="text/javascript" src="../../bower_components/d3/d3.min.js"></script>
		<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>

		<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min.js"></script>
		<!-- <script type="text/javascript" src="../../assets/functions/main_functions.js"></script> -->
		<script type="text/javascript" src="functions.js"></script>

		<script type="text/javascript">
	
			// map parameters
			var center_x = 0
				center_y = 20
				zoom = 2
	        
	        var mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
	        	mapAttr = '&copy; ' + mapLink + ' Contributors';

	        // https://wiki.openstreetmap.org/wiki/Tiles
		    var map = L.map('map').setView([center_x,center_y], zoom);
		    	tiles = [
		    		"http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
		    		"https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png",
		    		"http://c.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg",
		    		"https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
		    		"http://a.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png",
		    		"http://a.tile.stamen.com/toner/{z}/{x}/{y}.png",
		    		"http://a.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png"
		    	]
		    	// console.log(tiles)

	   		// map and credits
	        L.tileLayer(
	            tiles[0], {
	            attribution: mapAttr,
	            minZoom: 0,
	            maxZoom: 13,
	            // zoomSnap: 0.25
	        }).addTo(map);

	        map._initPathRoot() 

			var svg = d3.select("#map")
				.append("svg")
				.attr("width", 1300) 
    			.attr("height",700)
			var plot = svg.append("g").attr("class","plot")

	       	d3.json("datapoints.json", function(data) {
	       		data.forEach(function(d) {
					d.LatLng = new L.LatLng(d[1],d[2])
					d.Size = d[3]
				})
				console.log(data)
				
				min_size = d3.min(data, function(d) { return d.Size })
				max_size = d3.max(data, function(d) { return d.Size;})
				scale_size = d3.scaleLinear()
					.domain([min_size, max_size])
    				.range([10, 20]);

    			var point = plot.selectAll("g")
    				.data(data)
					.enter()
					.append("g")
					
				var text = point.append("text")
					.text(function(d){
						return d[0]
					})
					.attr("text-anchor","middle")
					.style("opacity", 0) 

				var bubbles = point.append("circle")
					.style("stroke", "gray")  
					.style("opacity", .5) 
					.style("fill", "red")
					.attr("r", function(d,i){
						return scale_size(d.Size)
					});  

				map.on("viewreset", update_a);
				// map.on("moveend", update_b);
				update_a();

				point.on("mouseover", function() {
					d3.select(this).select("text")
						.style("opacity", 1) 
				})
				point.on("mouseleave", function() {
					d3.select(this).select("text")
						.style("opacity", 0) 
				})

				function update_a() {
					point.attr("transform", 
					function(d) { 
						var layerPoint = map.latLngToLayerPoint(d.LatLng);
						return "translate(" + 
							layerPoint.x + "," + 
							layerPoint.y + ")";
						}
					)
				}

				function update_b() {
					// bubbles.attr("transform", 
					// function(d) { 
					// 	var layerPoint = map.latLngToLayerPoint(d.LatLng);
					// 	return "translate(" + 
					// 		layerPoint.x + "," + 
					// 		layerPoint.y + ")";
					// 	}
					// )
				}

			})

	        // plot data with leaflet
	       	/*for (var i = 0; i < planes.length; i++) {
				marker = new L.marker([planes[i][1],planes[i][2]])
				.bindPopup(planes[i][0])
				.addTo(map)
				// .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
			 //    .openPopup();
			}*/
			   
		</script>

	</body>
</html>