<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>	
		<title>Map the GLAM | GLAMs in the world</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=4.0, user-scalable=yes" />
		<meta name="robots" content="noindex,nofollow" />
		<meta name="googlebot" content="noindex">
		 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
		<link rel="stylesheet" href="../../assets/style/main.css" />
	</head>
	<body>
		<!-- <header id="header"></header> -->
		
		<div class="main_dataviz" id="map" style="width: 100%; height: 70vh;">
			<!-- <img src="../../assets/img/map-of-glams.png" alt="Map of the GLAMs in the world" width="1690" height="1120" style="margin:0 auto; height: 100%; display:block; width: auto; "> -->
		</div>
		
		<section class="container">
			<h2>GLAMs in the world</h2>
			<!-- <p class="description" style="margin-bottom:36px;">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium neque tellus, et sodales tellus euismod non. Duis condimentum eros eget sem vulputate ullamcorper. Nullam vulputate magna et odio tempus, ac feugiat enim cursus. Donec at diam pulvinar tortor porta blandit. Integer eget lacinia nunc, nec porta nibh. Sed posuere congue porta. Aliquam erat volutpat. Duis sagittis tristique orci, condimentum fringilla nunc. Donec porttitor porttitor metus, ut ultrices nibh porttitor eu. Praesent ante orci, laoreet eget justo eget, sodales lacinia leo.
			</p> -->
			<p>
				<a href="../../">
					back
				</a>
			</p>
		</section>
		<section class="container" style="margin-top: 30px;">
			<div style="margin-bottom: 30px;">
				<span id="g" class="controller">G</span>
				<span id="l" class="controller">L</span>
				<span id="a" class="controller">A</span>
				<span id="m" class="controller">M</span>
				<span id="o" class="controller">O</span>
				<span id="t" class="controller">ALL</span>
			</div>
			<div id="header_list">
				<span style="float:left">GLAM</span>
				<span style="float:right">files</span>
			</div>
			<div id="glam_list"></div>
		</section>

		<!-- <footer class="footer full_container" id="footer"></footer> -->

		<style>
			svg {
				position: absolute;
				top: 0;
				left: 0;
			}	
			#glam_list {
				margin-bottom: 60px;
			}
			.glam_list {
				list-style: none;
				margin: 0;
				padding: 0;
			}
			.glam {
				border-bottom: 1px solid lightgray;
				padding: 5px 0;
				cursor: pointer;
			}
			.glam:after, #header_list:after {
				content: "";
				clear:both;
    			display:block;
			}
			.count {
				display: block;
				float: right;
			}
			#header_list {
				margin-bottom: 20px;
				border-bottom: 1px solid lightgray;
			}
			.name{
				width: 90%;
				display: block;
				float: left;
			}
			.controller{
				padding: 30px 30px 30px 0;
				cursor: pointer;
			}
		</style>
		
		<script type="text/javascript" src="../../bower_components/d3/d3.min.js"></script>
		<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>

		<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min.js"></script>
		<!-- <script type="text/javascript" src="../../assets/functions/main_functions.js"></script> -->
		<script type="text/javascript" src="../../bower_components/handlebars/handlebars.min.js"></script>
		<script type="text/javascript" src="functions.js"></script>

		<script type="text/javascript">
	
			// map parameters
			var center_x = 0,
				center_y = 30,
				zoom = 2,
				min_bubble_size = 3,
				max_bubble_size = 40,
				treshold = 50;
	        
	        var mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
	        	mapAttr = '&copy; ' + mapLink + ' Contributors';

	        // https://wiki.openstreetmap.org/wiki/Tiles
		    var map = L.map('map').setView([center_y,center_x], zoom);
		    	tiles = [
		    		"http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
		    		"https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png",
		    		"http://c.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg",
		    		"https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
		    		"http://a.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png",
		    		"http://a.tile.stamen.com/toner/{z}/{x}/{y}.png",
		    		"http://a.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png"
		    	]
		    	// console.log(tiles)

	   		// map and credits
	        L.tileLayer(
	            tiles[0], {
	            attribution: mapAttr,
	            minZoom: 0,
	            maxZoom: 13,
	            zoomSnap: 0.25
	        }).addTo(map);

	        map._initPathRoot() 

			var svg = d3.select("#map")
				.append("svg")
				.attr("width", 1300) 
    			.attr("height",700)
			var plot = svg.append("g").attr("class","plot")

			var to_check = 0
	       	d3.json("datapoints.json", function(data) {

	       		data.forEach(function(d,i) {
	       			if (d.n == null && d.e == null){
	       				if(d.typo !== "-"){
	       					// d.LatLng = new L.LatLng(-60,i/2)
	       					d.LatLng = new L.LatLng(-80,i/2)
	       				}
	       				else {
	       					d.LatLng = new L.LatLng(0,0)
	       					if (d.count >= 50){
	       						to_check += 1
	       						// console.log(d.id, d.count)
	       					}
	       				}
	       			}
	       			else {
	       				d.LatLng = new L.LatLng(d.n,d.e)
	       			}
					d.Size = d.count
					d.Name = d.name
				})
				// console.log(data)
				// console.log(data[0].n)
				console.log(to_check)

				var gallery = 0
					library = 0
					archive = 0
					museum = 0
					other = 0
					unknown = 0
				data.forEach(function(d,i) {
					if (d.count >= treshold){
						if (d.typo == "gallery"){
							gallery+=1
						}
						else if (d.typo == "library"){
							library+=1
						}
						else if (d.typo == "archive"){
							archive+=1
						}
						else if (d.typo == "museum"){
							museum+=1
						}
						else if (d.typo == "other"){
							other+=1
						}
						else if (d.typo == "-"){
							unknown+=1
						}
					}
				})
				// console.log(gallery, library, archive, museum, other)
				
				min_size = d3.min(data, function(d) { return d.Size })
				max_size = d3.max(data, function(d) { return d.Size;})
				// console.log(treshold,max_size)

				scale_size = d3.scaleSqrt() // scaleLinear
					.domain([treshold, max_size])
    				.range([min_bubble_size, max_bubble_size]);

    			var points = plot.append("g")
    				.attr("class","points")

    			var point = points.selectAll("g")
    				.data(data)
					.enter()
					.append("g")
					.filter(function(d) { 
						return d.Size >= treshold 
					})
					
				var text = point.append("text")
					.text(function(d){
						return d.Name
					})
					.attr("text-anchor","middle")
					.style("opacity", 0) 
					.attr("font-size",10)

				var opacity = .4
				var bubbles = point.append("circle")
					// .style("stroke", "gray")  
					.style("opacity", opacity) 
					.style("fill", function(d,i){
						if (d.typo=="gallery"){
							return "darkviolet"
						}
						else if (d.typo=="library"){
							return "blue"
						}
						else if (d.typo=="archive"){
							return "green"
						}
						else if (d.typo=="museum"){
							return "red"
						}
						else if (d.typo=="other"){
							return "darkorange"
						}
						else {
							return "gray"
						}
					})
					.attr("r", function(d,i){
						return scale_size(d.Size/3.14)
						// return Math.sqrt(d.Size/3.14)/13
					})
					.attr("class", function(d){
						return d.typo
					})

				map.on("viewreset", update_a);
				map.on("moveend", update_a);
				update_a();

				// function reset() {
				// 	var bottomLeft = project(data),
			 //        	topRight = project(data);

			 //        plot.attr("transform", "translate(" + -bottomLeft[0] + "," + -topRight[1] + ")");
			 //    }
			 //    function project(x) {
			 //    	console.log(x)
				// 	var new_point = map.latLngToLayerPoint(new L.LatLng(x[0], x[0]));
				// 	return [new_point.x, new_point.y];
					
				// }

				point.on("mouseover", function() {
					d3.select(this).select("text")
						.style("opacity", 1) 
				})
				point.on("mouseleave", function() {
					d3.select(this).select("text")
						.style("opacity", 0) 
				})

				function update_a() {
					point.attr("transform", 
					function(d) { 
						var layerPoint = map.latLngToLayerPoint(d.LatLng);
						return "translate(" + 
							layerPoint.x + "," + 
							layerPoint.y + ")";
						}
					)
				}

				$("#g").on("click", function() {
					console.log("gallery")
					d3.selectAll(".library,.archive,.museum,.other")
						.style("opacity", 0)
					d3.selectAll(".gallery")
						.style("opacity", opacity)
				})
				$("#l").on("click", function() {
					console.log("library")
					d3.selectAll(".gallery,.archive,.museum,.other")
						.style("opacity", 0)
					d3.selectAll(".library")
						.style("opacity", opacity)
				})
				$("#a").on("click", function() {
					console.log("archive")
					d3.selectAll(".gallery,.library,.museum,.other")
						.style("opacity", 0)
					d3.selectAll(".archive")
						.style("opacity", opacity)
				})
				$("#m").on("click", function() {
					console.log("museum")
					d3.selectAll(".gallery,.library,.archive,.other")
						.style("opacity", 0)
					d3.selectAll(".museum")
						.style("opacity", opacity)
				})
				$("#o").on("click", function() {
					console.log("other")
					d3.selectAll(".gallery,.library,.archive,.museum")
						.style("opacity", 0)
					d3.selectAll(".other")
						.style("opacity", opacity)
				})
				$("#t").on("click", function() {
					d3.selectAll(".gallery,.library,.archive,.museum,.other")
						.style("opacity", opacity)
				})

				var text = "galleries: " + gallery + " - libraries: "+ library + " - archives: "+ archive + " - museums: "+ museum + " - others: "+ other /* + " - u: " + unknown + */ + " - tot: " + (gallery+library+archive+museum+other+unknown)
				var count = plot.append("g")
					.attr("class","counter")
					.append("text")
					.text(text)
					.attr("transform","translate(15,630)")
			})
		</script>

		<script type="text/javascript">
			var tpl = "<ul class='glam_list'>\
				{{#each this}}\
					<li class='glam'>\
						<span class='name'>\
							{{@index}}) \
							<a href='https://commons.wikimedia.org/wiki/Category:{{commons}}' target='_blank'>\
							{{name}} ({{typo}})\
							</a>\
						</span>\
						<span class='count'>{{count}}</span>\
					</li>\
				{{/each}}\
				</ul>"

			var container = $("#glam_list"),
				data_source = "datapoints.json",
				treshold = 50

			// $.get(tpl, function(tpl) {
				$.getJSON(data_source, function(data) {
					var template = Handlebars.compile(tpl);

					sorted_data = data.sort(function (a, b) {
						return b.count - a.count;
					})
					my_treshold = $.grep(sorted_data, function (a, i) {
						if (a.count >= treshold) {
							return true
						}
					})
					// $("#header_list").append("GLAM - files")
					container.html(template(my_treshold));
				})
			//})

		</script>
	</body>
</html>