@charset "UTF-8";
img {
  display: block; }

.tick text {
  fill: #001c26;
  font-size: 9.3333333333px; }

.xAxis .domain {
  stroke: none; }

.yAxis .domain {
  stroke: transparent; }

.dv {
  clear: both;
  position: relative; }

.dv:after {
  content: ""; }

.anchor {
  height: 40px; }

.anchor:after {
  content: ""; }

#container_dv_uploads_timeline p {
  text-align: center;
  margin-top: 12px;
  font-size: 9.3333333333px; }

#dv_uploads_timeline {
  height: 240px;
  overflow-x: auto;
  overflow-y: hidden; }
  #dv_uploads_timeline .uploads {
    fill: #004E99; }
  #dv_uploads_timeline .xAxis line {
    stroke: gray; }
  #dv_uploads_timeline .xAxis text {
    fill: #4e4e4e;
    text-anchor: middle; }
  #dv_uploads_timeline .yAxis .tick line {
    stroke: transparent; }
  #dv_uploads_timeline .yAxis .tick text {
    fill: #999999; }

#dv_category_network {
  height: 80vh;
  background-color: #f2f2f2;
  overflow: hidden; }
  #dv_category_network img {
    position: relative;
    display: block;
    top: -50px; }

#dv_size {
  width: 100%;
  background-color: white;
  padding: 12px 0; }
  @media screen and (max-width: 768px) {
    #dv_size .dv {
      width: calc(83.3333333333% - 36.6666666667px);
      float: left;
      margin-left: 20px;
      left: calc(8.3333333333% - 21.6666666667px + 20px);
      position: relative;
      height: auto; }
      #dv_size .dv::after {
        clear: both;
        content: "";
        display: block; } }
  #dv_size .controller {
    text-align: center;
    background-color: #f2f2f2; }
    @media screen and (max-width: 768px) {
      #dv_size .controller {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px;
        left: calc(0% - 20px + 20px);
        position: relative; } }
    #dv_size .controller button {
      padding: 36px; }

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-size: 12px; }

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "▼";
  position: absolute;
  text-align: center; }

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0; }

#dv_pictures_timeline {
  background-color: #f2f2f2;
  height: 25vh;
  padding-bottom: 12px; }
  #dv_pictures_timeline .yAxis text {
    fill: #4e4e4e; }

.grid-sizer {
  width: 29.5%; }

#authors {
  height: auto;
  min-height: 40vh;
  margin-top: 36px; }
  #authors #authors_box {
    clear: both;
    margin-bottom: 36px; }
    #authors #authors_box ul {
      list-style: none;
      font-size: 9.3333333333px; }
    #authors #authors_box .author_box {
      display: block;
      width: 29.5%;
      background-color: #9fcdde;
      padding: 5px;
      cursor: pointer; }
      @media screen and (max-width: 768px) {
        #authors #authors_box .author_box {
          width: 43%; } }
      @media screen and (max-width: 500px) {
        #authors #authors_box .author_box {
          width: 77%; } }
      #authors #authors_box .author_box .n_pictures {
        display: block;
        float: right;
        margin-right: 12px; }
      #authors #authors_box .author_box .author_name {
        font-weight: bold; }
  #authors #decade_box {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    clear: both;
    margin-bottom: 12px; }
    #authors #decade_box .decade_box {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; }

#dv_spread {
  height: 60vh;
  background-color: #f2f2f2; }

#dv_lang {
  height: 60vh;
  background-color: #f2f2f2; }

#dv_page_views {
  height: 60vh;
  background-color: #f2f2f2; }

/*# sourceMappingURL=dataviz.css.map */
