$background_dv: #e8e8e8
$files: #004E99
$x: 12px

#timeline_uploads
	background-color: $background_dv
	width: 100%
	height: $x * 13
	overflow-x: auto
	overflow-y: hidden

	.uploads
		fill: $files
		stroke: darken($files, 10%)

#category_network
	height: 60vh
	background-color: $background_dv