@import "../../bower_components/neat/core/_neat.scss"

$background: #fcfcfc
$background_dv: darken( $background, 5% )
$files: #004E99
$text: #001c26

$x: 12px
$f_m: 14px

$f_s: $f_m / (1.5 * 1)

$mobile: 500px
$tablet: 768px
$desktop: 100px

//	---------------------------
//	General

img
	display: block

.tick 
	text
		fill: $text
		font-size: $f_s

.xAxis	.domain
	stroke: none //$text

.yAxis .domain
	stroke: transparent

//	---------------------------
//	Specific dataviz

#container_dv_timeline_uploads
	margin-top: $x * 5

	p
		text-align: center
		margin-top: $x
		font-size: $f_s

#dv_timeline_uploads
	// width: 100%
	height: $x * 20
	overflow-x: auto
	overflow-y: hidden
	
	.uploads
		fill: $files
		// stroke: darken($files, 10%)

	.xAxis
		line
			stroke: lighten(black, 50%)

	.yAxis .tick 
		line
			stroke: lighten(black, 30%)

		text
			fill: lighten(black, 60%)

#dv_category_network
	height: 80vh
	background-color: $background_dv
	overflow: hidden

	img
		position: relative
		display: block
		top: -50px

#dv_size
	width: 100%
	background-color: $background_dv
	padding: $x 0

	.dv
		height: auto
		@include grid-container
		@include grid-column(6)
		@include grid-shift(1)

		@media screen and (max-width: $tablet)
			@include grid-container
			@include grid-column(10)
			@include grid-shift(1)
			height: auto

		img
			height: auto
			width: 100%
			margin: 0 auto
			
			@media screen and (max-width: $tablet)
				width: 100%
				height: auto

	.controller
		@include grid-container
		@include grid-column(4)
		@include grid-shift(1)
		text-align: center

		@media screen and (max-width: $tablet)
			@include grid-column(12)
			@include grid-shift(0)

#dv_spread
	height: 60vh
	background-color: $background_dv

#dv_lang
	height: 60vh
	background-color: $background_dv

#dv_page_views
	height: 60vh
	background-color: $background_dv
