@charset "UTF-8";
.main_dataviz {
  width: 100%;
  border-top: 1px solid #cccdcf;
  border-bottom: 1px solid #cccdcf;
  background-color: #f9f9f9;
  clear: both; }

img {
  display: block; }

.tick text {
  fill: #001c26;
  font-size: 9.3333333333px; }

.xAxis .domain {
  stroke: none; }

.yAxis .domain {
  stroke: transparent; }

.dv {
  clear: both;
  position: relative; }

.dv:after {
  content: ""; }

.anchor {
  height: 60px; }

.anchor:after {
  content: ""; }

#container_dv_uploads_timeline p {
  text-align: center;
  margin-top: 12px;
  font-size: 9.3333333333px; }

#dv_uploads_timeline {
  height: 240px;
  overflow-x: auto;
  overflow-y: hidden; }
  #dv_uploads_timeline .uploads {
    fill: #004E99; }
  #dv_uploads_timeline .xAxis line {
    stroke: gray; }
  #dv_uploads_timeline .xAxis text {
    fill: #4e4e4e;
    text-anchor: middle; }
  #dv_uploads_timeline .yAxis .tick line {
    stroke: transparent; }
  #dv_uploads_timeline .yAxis .tick text {
    fill: #999999; }

#dv_category_network {
  height: 80vh;
  background-color: #f9f9f9;
  overflow: hidden; }
  #dv_category_network img {
    position: relative;
    display: block;
    top: -50px; }

#dv_size .dv {
  background-color: #f9f9f9; }
#dv_size .controller {
  text-align: center;
  background-color: white;
  clear: both;
  margin-top: 24px;
  border-top: 1px solid #c6c6c6; }
  #dv_size .controller button {
    padding: 12px 36px;
    font-size: 14px; }
  #dv_size .controller .selected {
    background-color: #dde0e1; }

#dv_size_analogic {
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px;
  left: calc(16.6666666667% - 23.3333333333px + 20px);
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px; }
  @media screen and (max-width: 500px) {
    #dv_size_analogic {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px;
      left: calc(0% - 20px + 20px);
      position: relative; } }

#dv_size_digital {
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px;
  left: calc(16.6666666667% - 23.3333333333px + 20px);
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px; }
  @media screen and (max-width: 500px) {
    #dv_size_digital {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px;
      left: calc(0% - 20px + 20px);
      position: relative; } }

#dv_size_digital::after {
  content: ""; }

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-size: 12px; }

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "▼";
  position: absolute;
  text-align: center; }

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0; }

#dv_pictures_timeline {
  background-color: #f9f9f9;
  height: 25vh;
  padding-bottom: 12px; }
  #dv_pictures_timeline .yAxis text {
    fill: #4e4e4e; }

.grid-sizer {
  width: 29.5%; }

#authors {
  background-color: #f9f9f9;
  height: 60vh;
  min-height: 30vh;
  padding-top: 24px; }
  @media screen and (max-width: 768px) {
    #authors {
      height: auto; } }
  #authors #authors_box {
    clear: both;
    margin-bottom: 36px; }
    #authors #authors_box ul {
      list-style: none;
      font-size: 9.3333333333px; }
    #authors #authors_box .author_box {
      display: block;
      width: 29.5%;
      background-color: #9fcdde;
      padding: 7px;
      cursor: pointer; }
      @media screen and (max-width: 768px) {
        #authors #authors_box .author_box {
          width: 43%; } }
      @media screen and (max-width: 500px) {
        #authors #authors_box .author_box {
          width: 77%; } }
      #authors #authors_box .author_box .n_pictures {
        display: block;
        float: right;
        margin-right: 12px; }
      #authors #authors_box .author_box .author_name {
        font-weight: bold; }
    #authors #authors_box .authors_grid {
      height: 40vh; }
  #authors #decade_box {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    clear: both;
    margin-bottom: 12px; }
    #authors #decade_box .decade_box {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; }

#dv_spread {
  height: 60vh;
  background-color: #f9f9f9; }

#dv_lang {
  height: 60vh;
  background-color: #f9f9f9; }

#dv_page_views {
  height: 60vh;
  background-color: #f9f9f9; }

/*# sourceMappingURL=dataviz.css.map */
