@import "../../bower_components/neat/core/_neat.scss"

// colors
$background: white //#fcfcfc
$background_docu: darken( $background, 20% )
$text: #001c26
$bar: #cccdcf

$c_a: #29b29d
$c_b: #f4939e
$c_c: #f4d4a9
$c_d: #0f9b50
$c_e: #0686da
$c_f: #ef9227
$c_g: #84c233

$empty: #d4edff
$gray: #4e4e4e

$x: 12px
$f_m: 14px

$f_xxl: $f_m * (1.5 * 3)
$f_xl: $f_m * (1.5 * 2)
$f_l: $f_m * (1.5 * 1)

$f_s: $f_m / (1.5 * 1)
$f_xs: $f_m / (1.5 * 2)

$smartphone: 500px
$tablet: 768px
$desktop: 1200px

$f_smartphone: 0.5

// ---------------------------
//	Utility

	@include grid-visual

//	---------------------------
//	Typography

h1
	font-size: $f_xxl
	margin: ($f_m * 3) 0 0
	@media screen and (max-width: $smartphone)
		font-size: $f_xl * $f_smartphone

h2
	font-size: $f_l
	font-weight: bold
	margin: 0.5em 0 0

	@media screen and (max-width: $smartphone)
		font-size: $f_xl * $f_smartphone
h3
	font-size: $f_l
	font-weight: bold
	margin: 0.5em 0
	@media screen and (max-width: $smartphone)
		font-size: $f_xl * $f_smartphone

h4
	font-size: $f_m
	font-weight: bold
	margin: 0

h5
	font-size: $f_s
	font-weight: regular
	margin: 0

p
	font-size: $f_m
	line-height: 1.5em
	margin: 0 0  ($x * 2)

ul
	line-height: 1.5em

button
	font-family: 'Open Sans', sans-serif
	margin: 0
	padding: 0
	background-color: transparent

a, a:visited
	color: rgb(3, 111, 150)
	text-decoration: none

a:hover
	text-decoration: underline

button
	border: none
	background-color: none

fieldset
	border: none

//	---------------------------
//	Typographic elements

.subtitle
	font-size: 16px
	margin: 0.2em 0 0

.small_title
	@media screen and (max-width: $smartphone)
		display: none

.by
	margin: 0.8em 0 ($x * 3.5)

.links
	column-count: 2
	margin: ($x * 2) 0 ($x * 4)

	@media screen and (max-width: $smartphone)
		column-count: 1

	a
		display: block
		font-size: $f_l

//	---------------------------
//	Main layout 

body
	margin: 0
	padding: 0
	font-family: "Open Sans", sans-serif
	background-color: $background
	color: $text
	//overflow: hidden
	
.container
	@include grid-container
	@include grid-column(8)
	@include grid-shift(2)
	
	@media screen and (max-width: $smartphone)
		@include grid-column(12)
		@include grid-shift(0)

img
	max-width: 100%
	height: auto

.full_container
	//float: left
	width: 100%
	position: relative
	//margin-bottom: $x*5

.full
	width: 100%
	
.description
	column-count: 2
	margin-bottom: $x*3

	@media screen and (max-width: $tablet)
		column-count: 1

section
	margin-top: 20px

#header
	position: fixed
	width: 100%
	clear: both
	z-index: 1
	top: 0
	// background-color: $background

.header_full
	//padding: 5px 
	//@include grid-container
	@include grid-column(12)
	//margin-left: 0
	
	@media screen and (max-width: $smartphone)
		padding: 5px

	.open_menu
		a
			padding: 5px 30px 5px 0

.header_visible
	border-bottom: 1px solid $bar
	background-color: $background

#footer 		
	background-color: $text
	color: white
	clear: both
	padding: $x*1.5 0 0
	z-index: -1
	float: left
	width: 100%
	position: relative
	margin-top: $x*5

	.colophon
		@include grid-container
		margin: 0 0 $x*9

		@media screen and (max-width: $tablet)
			margin: 0 0 $x*5

		div
			@include grid-column(3) // 3
			@include grid-shift(0) // 0

			margin-top: $x
			color: white
			z-index: 1
			font-size: $f_m

			@media screen and (max-width: $tablet)
				font-size: $f_s * 1.2
				@include grid-column(8)
				@include grid-shift(2)
				margin-bottom: $x*4
				
			@media screen and (max-width: $smartphone)
				@include grid-column(12)
				@include grid-shift(0)

		img:nth-child(1)
			@media screen and (max-width: $tablet)
				max-width: 50%

		img:nth-child(2)
			@media screen and (max-width: $tablet)
				max-width: 25%

	.contact
		border-top: 1px solid $background
		@include grid-container
		padding: $x 0 $x
		margin-bottom: $x*2
		font-size: $f_s * 1.2

		div
			@media screen and (max-width: $tablet)
				margin-bottom: $x*3

		div:nth-child(1)
			@include grid-column(5)

			@media screen and (max-width: $tablet)
					@include grid-column(12)

		div:nth-child(2)
			@include grid-column(3)
			@include grid-shift(4)

			@media screen and (max-width: $tablet)
					@include grid-column(12)
					@include grid-shift(0)

	p
		margin: 0

	ul
		list-style: none
		margin: 0
		padding: 0

	a
		color: white
		//text-decoration: underline


//	---------------------------
//	Main menu
	
.invisible
	display: none

.visible
	display: inline

#open_nav
	@include grid-column(2)
	text-align: left
	cursor: pointer
	border-style: none
	font-size: $f_m
	padding: 13px 10px 10px 0

	@media screen and (max-width: $tablet)
		@include grid-column(2)

		.vis_invis
			display:  none

#running_headline
	// @include grid-column(4)
	margin-left: 0
	padding: 13px 10px 10px 0
	font-size: $f_m
	cursor: pointer
	float: left

	// @media screen and (max-width: $tablet)
		// @include grid-column(8)

.sidenav 
	height: 120%
	width: 250px
	position: fixed
	left: -250px
	z-index: 9
	top: 0
	background-color: $text
	overflow-x: hidden
	transition: 0.2s

	a 
		padding: $x $x $x $x
		text-decoration: none
		font-size: 1em
		color: $background
		display: block
		transition: 0.3s

	a:hover, a:focus
		color: white

	.closebtn 
		right: 25px
		font-size: $f_l // 30px
		padding-left: 200px
		border-bottom: 1px solid $gray
		cursor: pointer
	
	.section_end
		border-bottom: 1px solid $gray
		cursor: pointer

#close_nav
	padding-top: 0
	padding-bottom: 0

//	---------------------------
//	Intro

#intro
	display: none
	width: 100%
	height: 100%
	position: fixed
	background-color: $text
	overflow: hidden
	z-index: 2
	color: $background

	.intro_block
		@include grid-column(8)
		@include grid-shift(2)
		//margin-top: 30vh
		top: 20%
		height: 50%

		@media screen and (max-width: $smartphone)
			@include grid-column(12)
			@include grid-shift(0)

		h2
			font-size:  $f_xl

			@media screen and (max-width: $tablet)
				font-size: $f_xl * 0.8

			@media screen and (max-width: $smartphone)
				font-size: $f_l

	.next
		//@include grid-column(8)
		//@include grid-shift(2)

		button
			background-color: $background
			font-size:  $f_m
			margin-top: $x*2
			padding: $x $x*2
			font-weight: bold
			position: absolute
			bottom: -45px

			@media screen and (max-width: $tablet)
				font-size: $f_m * 0.8

			@media screen and (max-width: $smartphone)
				font-size: $f_s

//	---------------------------
//	Sidebar

#sidebar
	height: 100vh
	width: $x*38
	position: fixed
	right: -$x*38
	z-index: 1
	top: 0
	background-color: $background
	overflow-x: hidden
	transition: 0.2s
	border-left: 1px solid $bar

	@media screen and (max-width: $smartphone)
		width: 100%

	#sidebar_header
		border-bottom: 1px solid $bar
		padding-left: $x
		padding-right: $x
		height: $x*3.5
		background-color: $background
		line-height: 230%
		width: $x*36

		@media screen and (max-width: $smartphone)
			width: 94%

		.closebtn
			float: right
			font-size: 30px
			cursor: pointer
			margin-right: $x*2.5

		.closebtn:hover
			text-decoration: none

	#files_list

		ul
			list-style: none
			padding: 0
			margin: $x*3.5 0 0 0

			li
				font-size: $f_m*0.8
				border-bottom: 1px solid $bar
				padding: $x/3 $x/3 $x/3 $x 
				vertical-align: middle

#overlay
	width: 100%
	height: 100vh
	background-color: black
	opacity: 0.5
	position: fixed
	z-index: 1
	display: none

.bg_light
	background-color: $background

.bg_dark
	background-color: darken( $background, 5% )

//	---------------------------
//	Dataviz

.protocol, .data
	margin: 0
	padding: $x*1.5 0 $x*1.5
	@include grid-container
	@include grid-column(8)
	@include grid-shift(2)
	float: none

	@media screen and (max-width: $smartphone)
		@include grid-column(12)
		@include grid-shift(0)
		float: none

	p
		column-count: 2

		@media screen and (max-width: $tablet)
			column-count: 1


.docu_container
	margin-bottom: $x * 2
	font-size: $f_m
	overflow: hidden
	background-color: desaturate(lighten($text, 80%), 95%)
	box-shadow: (inset 0px 5px 10px lighten(black, 80%))
	-webkit-box-shadow: (inset 0px 5px 10px lighten(black, 80%))
	-moz-box-shadow: (inset 0px 5px 10px lighten(black, 80%))
	-o-box-shadow: (inset 0px 5px 10px lighten(black, 80%))
	-webkit-transition: all 0.4s ease-in-out
	//min-height: 100px

.docu_container::after, .protocol::after, .data::after
	content: ""

.open_close_panel
	//height: 0
	overflow: hidden

.open_panel
	//min-height: 100px
	//height: 0
	overflow: visible
	-webkit-transition: all 0.4s ease-in-out

.documentation
	// margin: $x 0 0

	button
		cursor: pointer
		//border: 3px solid transparent // $background
		font-size: $f_m
		background-color: darken( $background, 5%)
		padding: $x

	button:hover
		background-color: darken( $background, 10%)
		//text-decoration: underline
		//border-bottom: 5px solid lighten($background_docu, 5%)

	.selected
		font-weight: bold
		background-color: desaturate(lighten($text, 80%), 95%)

.docu
	.full_container
		border-bottom: 1px solid red lighten(black, 50%)
