h1 {
  font-size: 63px;
  margin: 42px 0 0; }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 21px; } }

h2 {
  font-size: 21px;
  font-weight: bold;
  margin: 0.5em 0 0; }
  @media screen and (max-width: 500px) {
    h2 {
      font-size: 21px; } }

h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 0.5em 0; }
  @media screen and (max-width: 500px) {
    h3 {
      font-size: 21px; } }

p {
  line-height: 1.5em;
  margin: 24px 0 0; }

ul {
  line-height: 1.5em; }

button {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: transparent; }

a, a:visited {
  color: #001c26;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

button {
  border: none;
  background-color: none; }

fieldset {
  border: none; }

.subtitle {
  font-size: 18px;
  margin: 0.2em 0 0; }

@media screen and (max-width: 500px) {
  .small_title {
    display: none; } }

.by {
  margin: 0.8em 0 42px; }

.links {
  column-count: 2;
  margin: 24px 0 48px; }
  @media screen and (max-width: 500px) {
    .links {
      column-count: 1; } }
  .links a {
    display: block;
    font-size: 21px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fcfcfc;
  color: #001c26; }

.container {
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px;
  left: calc(16.6666666667% - 23.3333333333px + 20px);
  position: relative; }
  .container::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 500px) {
    .container {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px;
      left: calc(0% - 20px + 20px);
      position: relative; } }

img {
  max-width: 100%;
  height: auto; }

.full_container {
  float: left;
  width: 100%;
  position: relative; }

.full {
  width: 100%; }

.description {
  column-count: 2;
  margin-bottom: 24px; }
  @media screen and (max-width: 768px) {
    .description {
      column-count: 1; } }

.main_dataviz {
  width: 100%;
  height: 65vh;
  background-color: #d4edff;
  clear: both; }

.secondary_dataviz {
  background-color: #efefef;
  height: auto;
  clear: both; }

section {
  margin-top: 20px; }

#header {
  position: fixed;
  width: 100%;
  clear: both;
  z-index: 1;
  top: 0; }

.header_full {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  .header_full::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 500px) {
    .header_full {
      padding: 15px 5px; } }
  .header_full .open_menu a {
    padding: 5px 30px 5px 0; }

.header_visible {
  border-bottom: 1px solid #cccdcf;
  background-color: #fcfcfc; }

.footer {
  background-color: #001c26;
  clear: both;
  padding: 18px 0 48px;
  z-index: -1; }
  .footer div div {
    width: calc(16.6666666667% - 23.3333333333px);
    float: left;
    margin-left: 20px;
    left: calc(16.6666666667% - 23.3333333333px + 20px);
    position: relative;
    margin-top: 24px;
    color: white;
    z-index: 1;
    font-size: 14px; }
    .footer div div::after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (max-width: 768px) {
      .footer div div {
        font-size: 11.2px;
        width: calc(66.6666666667% - 33.3333333333px);
        float: left;
        margin-left: 20px;
        left: calc(16.6666666667% - 23.3333333333px + 20px);
        position: relative; } }
    @media screen and (max-width: 500px) {
      .footer div div {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px;
        left: calc(0% - 20px + 20px);
        position: relative; } }
    .footer div div p {
      margin: 0; }
    .footer div div ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    .footer div div a {
      color: white; }

.invisible {
  display: none; }

.visible {
  display: inline; }

#open_nav {
  width: calc(16.6666666667% - 23.3333333333px);
  float: left;
  margin-left: 20px;
  text-align: left;
  cursor: pointer;
  border-style: none;
  font-size: 14px;
  padding: 10px 10px 10px 0; }
  @media screen and (max-width: 768px) {
    #open_nav {
      width: calc(16.6666666667% - 23.3333333333px);
      float: left;
      margin-left: 20px; }
      #open_nav .vis_invis {
        display: none; } }

#running_headline {
  width: calc(33.3333333333% - 26.6666666667px);
  float: left;
  margin-left: 20px;
  margin-left: 0;
  padding: 13px 10px 10px 0;
  font-size: 14px;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    #running_headline {
      width: calc(66.6666666667% - 33.3333333333px);
      float: left;
      margin-left: 20px; } }

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  left: -250px;
  z-index: 1;
  top: 0;
  background-color: #001c26;
  overflow-x: hidden;
  transition: 0.2s; }
  .sidenav a {
    padding: 12px 12px 12px 12px;
    text-decoration: none;
    font-size: 1em;
    color: #fcfcfc;
    display: block;
    transition: 0.3s; }
  .sidenav a:hover, .sidenav a:focus {
    color: white; }
  .sidenav .closebtn {
    right: 25px;
    font-size: 30px;
    padding-left: 200px;
    border-bottom: 1px solid #4e4e4e;
    cursor: pointer; }
  .sidenav .section_end {
    border-bottom: 1px solid #4e4e4e; }

.protocol, .data {
  margin: 0;
  width: calc(66.6666666667% - 33.3333333333px);
  float: left;
  margin-left: 20px;
  left: calc(16.6666666667% - 23.3333333333px + 20px);
  position: relative; }
  .protocol::after, .data::after {
    clear: both;
    content: "";
    display: block; }
  .protocol p, .data p {
    column-count: 2; }

.docu_container {
  margin-bottom: 24px;
  font-size: 14px;
  overflow: hidden;
  background-color: #dde0e1;
  box-shadow: inset 0px 5px 10px #cccccc;
  -webkit-box-shadow: inset 0px 5px 10px #cccccc;
  -moz-box-shadow: inset 0px 5px 10px #cccccc;
  -o-box-shadow: inset 0px 5px 10px #cccccc;
  -webkit-transition: all 0.4s ease-in-out; }

.open_close_panel {
  height: 0;
  overflow: hidden; }

.open_panel {
  height: 550px;
  overflow: visible;
  -webkit-transition: all 0.4s ease-in-out; }

.documentation button {
  cursor: pointer;
  border: 3px solid #fcfcfc;
  font-size: 14px;
  padding: 24px 24px 24px 0; }
.documentation button:hover {
  text-decoration: underline; }
.documentation .selected {
  font-weight: bold; }

.docu .full_container {
  border-bottom: 1px solid red gray; }

/*# sourceMappingURL=main.css.map */
