@import "../../bower_components/neat/core/_neat.scss"

$background: #fafafa
$empty: #d4edff
$back_footer: #d6d6d6
$gray: #4e4e4e

$f_m: 1em

$f_xl: $f_m * 2.2
$f_l: $f_m * 1.2
$f_s: $f_m / 1.1

$mobile: 500px
$tablet: 768px
$desktop: 100px

$f_mobile: 0.5

// ---------------------------
	Utility

	@include grid-visual

//	---------------------------
	Typography

h1
	font-size: $f_xl
	margin: 0.5em 0
	@media screen and (max-width: $mobile)
		font-size: $f_xl * $f_mobile

h2
	font-size: $f_l
	font-weight: normal
	margin: 0.5em 0
	@media screen and (max-width: $mobile)
		font-size: $f_xl * $f_mobile
h3
	font-size: $f_l
	font-weight: bold
	margin: 0.5em 0
	@media screen and (max-width: $mobile)
		font-size: $f_xl * $f_mobile

p
	font-size: $f_m
	@media screen and (max-width: $mobile)
		font-size: $f_xl * $f_mobile

button
	font-family: 'Titillium Web', sans-serif
	margin: 0
	padding: 0
	background-color: transparent

//	---------------------------
	Typographic elements

.small_title
	@media screen and (max-width: $mobile)
		display: none

//	---------------------------
	Main layout 

body
	margin: 0
	padding: 0
	font-family: 'Titillium Web', sans-serif
	background-color: $background
	
.container
	@include grid-container
	@include grid-column(10)
	@include grid-shift(1)
	
	@media screen and (max-width: $tablet)
		@include grid-column(12)
		@include grid-shift(0)
		
.full
	width: 100%

.main_dataviz
	width: 100%
	height: 6§5vh
	background-color: $empty
	clear: both

.secondary_dataviz
	background-color: $empty
	height: auto
	clear: both

section
	margin-top: 20px

.header_full
	@include grid-container
	@include grid-column(12)
	padding: 5px 

	@media screen and (max-width: $mobile)
		padding: 15px 5px

	.open_menu
		a
			padding: 5px 30px 5px 0

.footer
	background-color: $back_footer
	clear: both
	height: 100px

	.container
		@include grid-container
		@include grid-column(10)
		@include grid-shift(1)
		padding: 10px 0 0

		@media screen and (max-width: $tablet)
			@include grid-column(12)
			@include grid-shift(0)	

//	---------------------------
	Main menu
	
#open_nav
	cursor: pointer
	border-style: none
	font-size: 1em
	margin-right: 20px

.sidenav 
	height: 100%
	width: 250px
	position: fixed
	left: -250px
	z-index: 1
	top: 0
	background-color: #111
	overflow-x: hidden
	transition: 0.2s

	a 
		padding: 8px 8px 8px 20px
		text-decoration: none
		font-size: 1em
		color: #818181
		display: block
		transition: 0.3s

	a:hover, a:focus
		color: #f1f1f1

	.closebtn 
		right: 25px
		font-size: 36px
		padding-left: 200px
		border-bottom: 1px solid $gray
		cursor: pointer
	
	.section_end
		border-bottom: 1px solid $gray
