<div>
	<div>
		<p>
			<strong>Map the GLAM</strong>
			<br/>
			<!-- Visualizing the contributions of cultural institutions in Wikimedia Projects<br/> -->
			by <a href="https://twitter.com/profeta_g" title="Twitter profile" target="_blank">Giovanni Profeta</a>
		</p>
	</div>
	<div>
		<!-- <p>
			<br/>
			Project developed in the framework of the Ph.D. in Design at Politecnico di Milano. The supervisor of the Ph.D. thesis is Professor Paolo Ciuccarelli.
		</p> -->
	</div>
	<div>
		<strong>Acknowledgement</strong>
		<ul>
			<li>
				<a href="http://www.supsi.ch/lcv" title="Laboratory of visual culture-Interaction design lab SUPSI" target="_blank">
					Laboratory of visual culture SUPSI
				</a>
			</li>
			<li>
				<a href="http://www.densitydesign.org/" title="DensityDesign research lab" target="_blank">
				DensityDesign
				</a>
			</li>
			<br/>
			<li>
				<a href="https://uclab.fh-potsdam.de/" title="Urban Complexity Lab" target="_blank">
					Urban Complexity Lab
				</li>
			<li>
				<a href="https://www.wikimedia.ch/" title="Wikimedia CH" target="_blank">
					Wikimedia CH
				</a>
			</li>
			<li>
				<a href="https://www.wikimedia.de/" title="WIkimedia DE" target="_blank">
					WIkimedia DE
				</a>
			</li>
		</ul>
	</div>
	<div>
		<p>
			<strong>License</strong>
			<br/>
			Website content: <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="cc-by-sa license" target="_blank">CC-BY-SA</a>.
			<!-- Attribution-ShareAlike 4.0 International license -->
			<br/>
			Source code and scraper: <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" title="GNU license" target="_blank">GNU license</a>.
			<br/><br/>
			
			<a href="https://github.com/giovannipro/map-the-glam" target="_blank" title="GitHub repository">
				Map the GLAM on GitHub
			</a>
		</p>
	</div>
</div>