<div class="header_full">
	<div class="open_menu">
		<button id="open_nav">&#9776; Menu</button>
		<span class="small_title">
			Map the GLAM
		</span>
	</div>

	<div id="mySidenav" class="sidenav">
		<a class="closebtn" id="close_nav">x</a>
		<a href="../../" class="section_end">Home</a>
  		<a href="../glams-in-the-world" class="section_end">GLAMs in the world</a>
  		<a href="../file-uploads" class="">File uploads</a>
  		<a href="#" class="">Dataviz 2</a>
  		<a href="#" class=" section_end">Dataviz 3</a>
  		<a href="../wikimedia-projects" class="section_end">Wikimedia Projects</a>
	</div>

</div>