<div class="header_full">
	<div class="open_menu">
		<button id="open_nav">
			<span>&#9776;</span>
			<span class="invisible vis_invis">Menu</span>
		</button>
		<span id="running_headline" class="small_title invisible vis_invis">
			<strong>Map the GLAM</strong>
		</span>
	</div>

	<div id="mySidenav" class="sidenav">
		<a class="closebtn" id="close_nav">x</a>
		<a href="#" class="section_end">Home</a>
		<!--<a href="#dv_1" class="section_end">DV 1</a>-->
		<a href="views/glams-in-the-world" class="section_end">GLAMs in the world</a>
  		<a href="views/wikimedia-projects" class="section_end">Wikimedia Projects</a>
  		<!--<a href="../file-uploads" class="">File uploads</a>
  		<a href="#" class="">Dataviz 2</a>
  		<a href="#" class=" section_end">Dataviz 3</a>-->
	</div>
</div>