<article class="documentation container">
	<button id="timeline_uploads_open_protocol">
		Protocol
	</button>
	<button id="timeline_uploads_open_data">
		Data
	</button>
</article>
<article class="full_container">
	<div id="timeline_uploads_docu_container" class="docu_container open_close_panel">
		<article class="protocol invisible" id="timeline_uploads_protocol">
			<p>
				Protocol
			</p>
		</article>
		<article class="data invisible" id="timeline_uploads_data">
			<p>
				Data
			</p>
		</article>
	</div>
</article>